{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
<!-- 		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" /> -->

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
    <style type="text/css">
      .body{
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
          }
          .red {
            width: 100vw;
            height: 33vh;
          background-color:red;
          }
          .yellow {
            width: 100vw;
            height: 33vh;
          background-color:yellow;
          }
          .green{
            width: 100vw;
            height: 33vh;
          background-color:green;
          }
    </style>
	</head>
	<body>
	<div class="container6" >
      <div class="red" ></div>
      <div class="yellow"></div>
      <div class="green"></div>  
    </div>
	</body>
</html>